@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.background {
  background-image: url("https://wallpaperaccess.com/full/3648367.jpg"); /* The image used */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-family: "Poppins", sans-serif;
  background-attachment: fixed;
  overflow-y: hidden;
}
